*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    transition: 0.5s;
}
.container{
    width: 303px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: 150px;
    height: 150px;
    background: #2292A4;
    border: 1px solid black;
}
.box2{
    width: 150px;
    height: 150px;
    background: #BDBF09;
    border: 1px solid black;
}
.box3{
    width: 150px;
    height: 150px;
    background: #D96C06;
    border: 1px solid black;
}
.box4{
    width: 150px;
    height: 150px;
    background: #E5446D;
    border: 1px solid black;
}